<div class="container mt-4">
    <h2 class="introduction">About Us</h2>
  
    <p class="introduction">Welcome to my YouTube API project. This page provides information about the YouTube Data API V3 integration in my system.</p>
  
    <h4 class="explanation">YouTube Data API</h4>
    <p class="explanation">
      This system utilizes the YouTube Data API to fetch and display videos. The API allows us to search for videos, retrieve video details and much more. It's a powerful tool for integrating YouTube content into web applications.
    </p>
  
    <h4 class="contact">My Contact</h4>
    <address class="contact">
      From: Wan Muhammad Yusuff Putra<br>
    </address>
</div>  